/* ======================================= */
/* ============  CSS Start  ============== */
/* ======================================= */

/* ======================================= */
/*
      Name      : Abdullah Al Nayeem
      Email     : nayeem.3119@gmail.com
      Address   : Savar, Dhaka, Bangladesh
      LinkedIn  : linkedin.com/in/AbdullahAlNayeem

*/
/* ======================================= */



/* ======================================= */
/* ========  Global CSS Section  ========= */

html{
  scroll-behavior: smooth;
}
body{
  color: #3b404f;
}
ul li{
  list-style: none;
}
h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
}
.hero-text{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.hero-text h2{
  text-transform: uppercase;
}
.hero-text p{
  margin: 20px 0 60px;;
}



/* ======================================= */
/* ============  Header Area  ============ */

header{
  background: #f5f5f5;
  padding: 10px 0;
}
header p{
  display: inline;
  font-size: 13px;
  color: #7f7f7f;
}
header i{
  margin-left: 10px;
  color: #7f7f7f;
}

/* ======================================= */
/* ============  Navbar Area  ============ */

.nav-area{
  background: #fff;
}
.nav-area img{}
.nav-area ul{}
.nav-area ul li{
  display: inline-block;
  margin-left: 8px;
}
.nav-area ul li a{
  color: #3b404f;
  font-size: 15px;
}
.nav-area ul li i{
  color: #3b404f;
  line-height: 40px;
  margin-left: 20px;
}
.nav-area ul li a:hover,
.nav-area ul li i:hover{
  color: #fab702;
  cursor: pointer;
}

/* ======================================= */
/* ============  Banner Area  ============ */
.banner-area{
  background: linear-gradient(rgba(66,71,253,0.5),rgba(66,71,253,0.5)), url(../img/banner-bg.png) no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  padding: 100px 0;
  color: #fff;
}
.banner-area p{
  width: 90%;
  text-align: left;
  margin: 40px 0;
  font-size: 15px;
}
.banner-area .btn-banner{
  padding: 10px 36px;
  text-transform: capitalize;
  font-size: 17px;
  background: #fab702;
  border: none;
  margin-bottom: 40px;
}
.banner-area .btn-banner:hover{
  background: #fdc632;
  color: #222;
}

/* ======================================= */
/* ===========  Consult Area  ============ */
.consult-area{
  background: linear-gradient(rgba(251,197,49,0.8),rgba(251,197,49,0.8)), url(../img/consult-bg.png) no-repeat;
  background-size: cover;
  padding: 25px 0 20px;
}
.consult-area p{
  font-size: 24px;
  color: #fff;
}
.consult-area .consult-p{
  color: #111;
  font-style: italic;
}
.consult-area .consult-p:hover{
  text-decoration: underline;
  cursor: pointer;
}
.consult-area .btn-consult{
  background: #eee;
  border: none;
  padding: 9px 30px;
  color: #111;
}
.consult-area .btn-consult:hover{
  background: #fab702;
  color: #fff;
  border: 1px solid #ddd;
}

/* ======================================= */
/* ===========  Service Area  ============ */

.service-area{
  background: #f7f7f7;
  padding: 80px 0;
}
.service-area .card{
  border: none;
  background: transparent;
}
.service-area .card-title{
  text-transform: uppercase;
}
.service-area .card-title:hover{
  color: #fab702;
  cursor: default;
}
.service-area .card-body{
  padding: 20px 0 20px 0;
}
.service-area .card a{
  color: #3b404f;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
.service-area .card a:hover{
  text-decoration: underline;
  color: #fab702;
}

/* ======================================= */
/* ============  Video Area  ============= */

.video-area{
  padding: 40px 0 30px;
  background: #fff;
}
.video-area iframe{}
.video-area .card{
  background: transparent;
  border: none;
}
.video-area .card img{
  width: 40%;
  display: block;
  margin: 15% auto;
}
.video-area .card-title{
  text-transform: uppercase;
}
.video-area .card-title:hover{
  color: #fab702;
  cursor: pointer;
}
.video-area .card p{
  font-size: 14px;
}

/* ======================================= */
/* ========  Featured Works Area  ======== */

.work-area{
  background: #f7f7f7;
  padding: 80px 0;
}
.work-area ul{
  margin-bottom: 60px;
}
.work-area .work-menu li{
  display: inline-block;
  margin: 10px 2px;
}
.work-area ul li a{
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 7px 12px;
  color: #3b404f;
  transition: all 0.25s linear;
}
.work-area ul li:hover a{
  background: #fab702;
  border-color: #fab702;
  color: #fff;
}

/* ======== Gallery Start ======== */

.work-area .works{
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  margin: 1rem 0;
}
.work-area .work-img{}
.work-area .work-img:hover{
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.work-area .overlay{
  position: absolute;
  background: #fef6de;
  height: 30%;
  width: 100%;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.1s linear;
  opacity: 0;
}
.work-area .works:hover .overlay{
  opacity: 1;
}
.work-area .overlay h5{
  text-transform: uppercase;
  color: #3b404f;
  font-size: 1rem;
  margin-right: 2rem;
  margin-top: 1.3rem;
}
.work-area .overlay .line{
  width: 60px;
  background: #3b404f;
  border: 1px solid #3b404f;
}
.work-area .overlay ul{}
.work-area .overlay ul li:nth-child(2),
.work-area .overlay ul li:nth-child(3){
  margin: 1rem 0.2rem 0;
  background: #fab702;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.work-area .overlay ul li .fa{
  font-size: 20px;
  color: #fff;
  line-height: 1.2rem;
}

/* ======================================= */
/* ===========  Feedback Area  =========== */

.feedback-area{
  background: #fff;
  padding: 80px 0;
}
.feedback-area .card{
  background: #f7f7f7;
  border: 0;
  overflow: hidden;
}
.feedback-area .img-back{
  background: #eb768c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.feedback-area .card img{
  width: 90%;
  display: block;
  margin: 1rem auto;
}
.feedback-area .card-body{
  padding-left: 0;
}
.feedback-area .card-text{}
.feedback-area .card-title{
  text-transform: uppercase;
  font-size: 18px;
}
.feedback-area .clients{
  padding: 80px 0 0;
}

/* ======================================= */
/* ===========  Counter Area  ============ */

.counter-area{
  background: linear-gradient(rgba(249,202,36,0.8),rgba(249,202,36,0.8)) , url(../img/consult-bg.png) no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 35px 0 30px;
  color: #fff;
}
.counter-area p{
  text-transform: uppercase;
  font-size: 14px;
}
.counter-area h5{
  font-size: 40px;
}

/* ======================================= */
/* ============  Style Area  ============= */

.style-area{
  padding: 50px 0;
  background: #f9f9f9;
}
.style-area .embed{
  background: #fff;
  padding: 20px 10px 10px;
  border-left: 4px solid #fab702;
}
.style-area h5{}
.style-area p{
  font-size: 14px;
}
.style-area .btn-embed{
  background: #fab702;
  border: 1px solid #fab702;
  padding: 9px 20px;
}
.style-area .btn-embed:hover{
  background: #f9ca24;
  color: #555;
}

/* ======================================= */
/* =============  News Area  ============= */

.news-area{
  background: #fff;
  padding: 80px 0;
}
.news-area .card{
  border: 0;
}
.news-area .card-body{
  padding: 1rem 0 1rem;
}
.news-area .card-title{
  text-transform: uppercase;
  font-size: 22px;
}
.news-area .news-date{
  margin-bottom: 0.7rem;
}
.news-area .news-date p{
  display: inline;
  text-transform: uppercase;
}
.news-area .card-text{
  line-height: 1.4;
}
.news-area .card a{
  text-transform: uppercase;
  color: #3b404f;
  font-weight: 500;
}
.news-area .card a:hover{
  color: #fab702;
}

/* ======================================= */
/* ===========  Contact Area  ============ */

/* ======= First Column =======  */

.contact-area{
  background: #252c3a;
  padding: 80px 0;
  color: #fff;
}
.contact-area .c-head{
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.contact-area ul{
  padding-left: 0;
}
.contact-area ul li{}
.contact-area ul li i{
  font-size: 12px;
}
.contact-area p{
  display: inline;
  font-size: 14px;
}
.contact-area .linex{
  border-bottom: 2px solid #303744;
  margin: 0.5rem 0 0.8rem;
}
/* ======= Second Column =======  */
.contact-area .news-img{}
.contact-area .c2{
  font-size: 14px;
  margin: 0;
}
.contact-area .c2d{
  margin-top: 0.4rem;
}

/* ======= Third Column =======  */

.contact-area .new-line{
  display: block;
  margin-left: 1.5rem;
}
.contact-area .fao{
  font-size: 16px;
  margin-right: 0.4rem;
}
.contact-area .fas{
  font-size: 30px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.4s linear;
}
.contact-area .fas:hover{
  transform: rotate(360deg);
}

/* ======= Fourth Column =======  */

.contact-area .input-group{
  margin-left: 0;
  padding-left: 0;
}
.contact-area .btn-mail{
  background: #fab702;
  display: inline-block;
  color: #fff;
  border: 1px solid #fab702;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.contact-area .form-control{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.contact-area .privacy{
  text-transform: capitalize;
  color: #999;
  margin-top: 1.2rem;
  font-size: 14px;
}
.contact-area .form-control::placeholder{
  font-size: 14px;
}

/* ======================================= */
/* ============  Footer Area  ============ */

footer{
  background: #4c5b6d;
  padding: 15px 0 0px;
  color: #f7f7f7;
}
footer ul{}
footer ul li{
  display: inline;
  margin-left: 0.8rem;
}
footer ul li a{
  color: #f7f7f7;
}
footer ul li a:hover{
  text-decoration: none;
  color: #fab702;
}





/* ======================================= */
/* =============  CSS End  =============== */
/* ======================================= */
